@model Umbraco.Web.PublishedContentModels.PageHome

@{
    Layout = "~/Views/Master.cshtml";
}

<div id="HomeCarouselContainer">

    @if (Model.Items != null && Model.Items.Count() > 0)
    {
        for(int i = 0; i < Model.Items.Count(); i++)
        { 
            var category = (PagePostCategory)Model.Items.ToList()[i];
            var themeColor = "#" + (!String.IsNullOrEmpty(category.ThemeColor) ? category.ThemeColor : "444");

            <div class="home-carousel-item back" data-id="@i" data-theme-color="@themeColor"></div>
            <div class="home-carousel-item front" data-id="@i" data-theme-color="@themeColor">
                <h1>@category.CategoryName</h1>
                @*@if (category.PresentationImage != null)
                {
                    <img src="@category.PresentationImage.Url" />
                }*@
            </div>
        }
    }
</div>
<div class="center" style="width: 400px; height: 100px;">
    <img class="img-circle arrow" src="~/Content/Images/Carousel/arrow-red.jpg" style="float: left; transform: rotateY(180deg); opacity: 0.7" onclick="animateCards(0,'Left')" />
    <img class="img-circle arrow" src="~/Content/Images/Carousel/arrow-red.jpg" style="float: right; opacity: 0.7" onclick="animateCards(0,'Right')" />
</div>